{%- assign title = titles[layer]           -%}
{%- assign baseurl = title | prepend: "/"  -%}
{%- assign _probes = probes | jsonify      -%}

{%- assign node = '<li id='
       | append: id
       | append: '><a href="'
       | append: baseurl
       | append: '" data-id="'
       | append: data_id
       | append: '" aria-flowto="'
       | append: aria_flowto
       | append: '">'
       | append: seq
       | append: '('
       | append: loop
       | append: ')'
       | append: _probes
       | append: '</a>'                     -%}

{%-  capture nodes                          -%}
{{     nodes                                 }}
{%     include tabs.liquid size=14 %}{{ node }}
{%-    include primes/grammar.liquid -%}</li>
{%-  endcapture                             -%}

{%- if _stage contains id                   -%}

{%-   assign node_type = "main"             -%}
{%-   assign layer = layer | plus: 1        -%}
{%-   include core/_node.liquid             -%}

{%- elsif _branch contains id               -%}

{%-   assign node_type = "branch"           -%}
{%-   include core/_node.liquid             -%}

{%- endif                                   -%}
